# this file gets 'mixed in' to the sshsetup class
# in classes.pp.
# rename it to pubkey.pp and edit to taste
class pubkey {

  # stick my pubkey in authorized_keys
  # you can have several clauses like this if you need them
  ssh_authorized_key { "rasputnik@hellooperator.net" :
    user => 'root',
    type => 'ssh-dss',
    # the contents of your pubkey (e.g. id_dsa.pub)
    key => 'BIGLONGHEXSTRING',
    ensure => present
  }  
}
